/* #region global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  /* background-size: cover; */
  object-fit: cover;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

.grid_layout {
  /*responsivt grid layout med whitespace ude til siderne, når browseren er større end 1200px*/
  display: grid;
  grid-template-columns: 16px auto minmax(0, 1200px) auto 16px;
}

.grid_layout > * {
  grid-column: 3/4;
}

/* #endregion global*/

/* #region colors */

:root {
  --h1-color: #fff;
  --h2-color: #261a25;
  --h3-color: #261a25;
  --h4-color: #fff;
  --p-color: #261a25;
  --header-color: #8691a6;
}

/* #endregion colors */

/* #region fonts */

h1 {
  font-size: clamp(3.5rem, 2.25rem + 5vw, 6rem);
  font-family: "Baskervville", serif;
  color: var(--h1-color);
  font-weight: normal;
  text-align: center;
  padding-bottom: 2rem;
}

h2 {
  font-size: 3rem;
  font-family: "Baskervville", serif;
  color: var(--h2-color);
  font-weight: normal;
  padding-bottom: 2rem;
}

h3 {
  font-size: 2.25rem;
  font-family: "Baskervville", serif;
  color: var(--h3-color);
  font-weight: normal;
  padding-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  font-family: "Baskervville", serif;
  color: var(--h4-color);
  font-weight: normal;
}

p,
button {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  color: var(--p-color);
  font-weight: normal;
}

p {
  line-height: 2;
}

/* #endregion fonts */

/* #region buttons */

button.button_border {
  background-color: transparent;
  border: none;
  color: var(--h4-color);
  box-shadow: inset 0px 0px 0px 1px var(--h4-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

button.button_border:hover {
  background-color: var(--h4-color);
  color: var(--p-color);
}

#filter button {
  background-color: transparent;
  border: none;
  color: var(--p-color);
  box-shadow: inset 0px 0px 0px 1px var(--p-color);
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#filter button.selected {
  background-color: var(--p-color);
  color: var(--h4-color);
}

/* #endregion buttons */

/* #region header */

/* burgermenu */
.toggle-btn {
  display: none;
  color: #ffffff;
  margin-right: 16px;
  background: transparent;
  border: none;
  display: block;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
}
/* definere navn i højre hjørne */
.navn {
  /* display: flex;
  justify-content: end; */
  float: right;

  height: 45px;
  margin-left: 16px;
}

.navn img {
  height: 100%;
  padding-block: 4px;
}

/* .city {
  float: none;
  color: rgb(75, 68, 60);
  font-size: 2rem;
  margin-right: 1rem;
  font-family: cormorant-garamond, serif;
  font-weight: 400;
  font-style: normal;
} */

.toggle-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* denne regel sætter layoutet for header hvor jeg bla. har navigation */
header nav ul {
  max-width: 1200px;
  margin: 0px auto;
}

header ul li {
  margin-left: auto;
  margin-right: auto;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--header-color);
  opacity: 80%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.city {
  font-size: 2rem;
  font-family: "Baskervville", serif;
  color: var(--h4-color);
  font-weight: normal;
  text-decoration: none;
}

.nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 45px;
}

nav.shown {
  border-top: 1px solid hsl(0, 0%, 0%)000;
  padding-block: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
  background-color: var(--header-color);
}

.nav ul {
  gap: 10px;
  list-style: none;
  padding: 0.5rem;

  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;

  display: flex;
  flex-flow: column;
}

.nav ul li {
  margin-block: 0.5rem;
}

.nav_links {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Baskervville", serif;
  color: var(--h4-color);
  font-weight: normal;
}
.nav_links:hover {
  color: hsl(0, 0%, 0%);
}

/* regel slut */

/* #endregion header */

/* #region splash */

section#splash {
  height: 100vh;
  /* background-image: url("billeder/toronto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; */

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: hsl(17, 58%, 88%);
  overflow: hidden;
}

#splash_video {
  grid-row: 1/5;
  height: 120%;
  /* height: 120%; så videoen fylder hele skærmen, width virker ikke da, videoen så skalerer ned når skærmen er lille...*/
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

section#splash article {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

/* #endregion splash */

/* #region about_us*/
#about_us {
  background-color: hsl(17, 58%, 88%);
}

#about_us img {
  margin: auto;
  width: 100%;
}

#about_us article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 80px 180px;
  margin-top: 120px;
  margin-bottom: 120px;
}

#about_us article div {
  margin: auto;
}
#about_us p {
  line-height: 1.7rem;
}

/* #endregion about_us*/

/* #region content*/

#content {
  padding-block: 120px;
  background-color: hsl(30, 18%, 93%);
}

#main_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  margin-top: 3rem;
}

article.card {
  display: grid;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 368/480;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

article.card img {
  height: 100%;
  background-size: cover;
}

article.card:nth-child(5) img.card_img {
  /* selectoren tager fat i billedet på det femte kort */
  object-position: 100% 50%;
}

article.card > * {
  grid-area: 1/1;
}

article h4 {
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: 0.5rem;
  width: 100%;
  height: 4rem;
  place-self: end center;
  transition: padding 0.5s, height 0.5s;
}

article.card:hover h4.name {
  padding: 60% 0.5rem;
  height: 100%;
}

#filter_menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#filter_menu h3 {
  margin-right: 48px;
  padding-bottom: 0;
}

@media (max-width: 650px) {
  #filter_menu {
    display: flex;
    flex-direction: column;
  }
}

#filter {
  display: flex;
  justify-content: space-between;
  /*width: 100%;*/
  flex-wrap: wrap;
  gap: 1rem;
  margin-block: auto;
}

/* #endregion content*/

/* #region contact_us*/

/*-section navn-*/
#kontakt_os {
  background-color: hsl(197, 29%, 65%);
  height: 800px;
  display: grid;
  place-content: center;
}

/*-h2-*/
#kontakt_os h2 {
  text-align: center;
}
/*-p-*/
#kontakt_os p {
  line-height: 1.7;
}
/*- h2 og p-*/
#grid_k1 {
  margin-left: 10px;
margin-right: 10px;
}

/*grid/flex for formular*/
#grid_k2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 margin-left: 10px;
margin-right: 10px;
}
/* længden på input felter*/
#full-name {
  width: 350px;
}
#email {
  width: 250px;
}
#inform_us {
  width: 350px;
  padding: 12px;
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  resize: none;
}
input {
  height: 50px;
  padding: 12px;
  font-size: 1rem;
  font-family: "Noto Serif", serif;
}
/*-send knap-*/
#send_knap {
  background-color: hsl(4, 47%, 72%);
  color: white;
  width: 80px;
  border: none;
  cursor: pointer;
}

#send_knap:hover {
  background-color: hsl(4, 47%, 67%);
}
/*-web-*/
@media (min-width: 600px) {
  #grid_k1 {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  #grid_k1 h2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #grid_k1 p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  /*placerer formular på midten af siden*/
  #grid_k3 {
    display: grid;
    width: 400px;
    place-self: center;
  }
  /* længden på input felter*/
/*#full-name {
  width: 400px;
}
#email {
  width: 300px;
}
#inform_us {
  width: 400px;
  padding: 12px;
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  resize: none;
}*/
}
/* #endregion contact_us*/

/* #region footer */

footer {
  background-color: hsl(345, 24%, 28%);
  /*text-align: center;*/
}
footer p {
  color: white;
  width: 100%;
}
footer h4 {
  font-size: 1.5rem;
}
footer #grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#sociale_medier {
  grid-column: 1;
  grid-row: 2/3;
  line-height: 2;
}
.ikoner {
  display: flex;
  place-content: center;
  gap: 16px;
}
#kontakt_info {
  grid-column: 1;
  grid-row: 3/4;
  line-height: 2;
}
@media (min-width: 600px) {
  footer #grid_container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  footer {
    width: 100%;
    height: 200px;
  }
  .ikoner {
    place-content: start;
  }
}
/*zoom animation*/
.zoom {
  transition: transform 0.2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.1);
}
/* #endregion footer */

/* #region pop up */
#popup {
  display: none;
  z-index: 5;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin: 0;
}

#popup article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(30, 18%, 93%);
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  width: 90vw;
  height: 90vh;
  max-width: 720px;
  padding: 0 16px 16px 16px;
  margin: 4rem auto;
}

#popup article > *:not(img, #close) {
  max-width: 550px;
}

#popup article h2 {
  margin-top: 50px;
  padding-bottom: 0.5rem;
  width: 100%;
  margin-inline: auto;
}

.beskrivelse {
  border-left: hsl(219, 15%, 59%) 4px solid;
  padding: 0.5rem 1rem;
}

#close {
  position: absolute;
  padding: 4px 12px;
  font-size: 32px;
  font-weight: bolder;
  cursor: pointer;
  color: var(--p-color);
  margin: 8px -8px 0px 0px;
  align-self: flex-end;
  aspect-ratio: 1/1;
  width: 51px;
  background-color: transparent;
  border-radius: 8px;
  transition: background-color 0.1s;
}

#close:hover {
  background-color: hsla(0, 100%, 50%, 0.2);
}

#popup article h2 {
  text-align: center;
}

#popup article p {
  font-size: 1rem;
}

/* #region pop up */

/*-------denne kode er lånt af w3/ this code is from w3 schools website - 
schools https://www.w3schools.com/howto/howto_js_scroll_to_top.asp ---*/

/*tilbage til top knap*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: hsl(4, 47%, 72%); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  /*border-radius: 10px; /* Rounded corners */
  font-size: 2rem; /* Increase font size */
}

#myBtn:hover {
  background-color: hsl(4, 47%, 67%); /* Add a dark-grey background on hover */
}
