/* #region global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

.grid_layout {
  /*responsivt grid layout med whitespace ude til siderne, når browseren er større end 1200px*/
  display: grid;
  grid-template-columns: 8px auto minmax(0, 1200px) auto 8px;
}

.grid_layout > * {
  grid-column: 3/4;
}

/* #endregion global*/

/* #region colors */

:root {
  --h1-color: #fff;
  --h2-color: #261a25;
  --h3-color: #261a25;
  --h4-color: #fff;
  --p-color: #261a25;
}

/* #endregion colors */

/* #region fonts */

h1 {
  font-size: clamp(3.5rem, 2.25rem + 5vw, 6rem);
  font-family: "Baskervville", serif;
  color: var(--h1-color);
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-family: "Baskervville", serif;
  color: var(--h2-color);
  font-weight: normal;
}

h3 {
  font-size: 2.25rem;
  font-family: "Baskervville", serif;
  color: var(--h3-color);
  font-weight: normal;
}

h4 {
  font-size: 2rem;
  font-family: "Baskervville", serif;
  color: var(--h4-color);
  font-weight: normal;
}

p,
button {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  color: var(--p-color);
  font-weight: normal;
}
/* #endregion fonts */

/* #region buttons */

button.button_border {
  background-color: transparent;
  border: none;
  color: var(--h4-color);
  box-shadow: inset 0px 0px 0px 1px var(--h4-color);
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

button.button_border:hover {
  background-color: var(--h4-color);
  color: var(--p-color);
  box-shadow: 0;
}

/* #endregion buttons */

/* #region splash */

section#splash {
  height: 100vh;
  background-image: url("billeder/toronto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  overflow-x: hidden;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#splash_video {
  grid-row: 1/5;
  height: 120%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
}

section#splash article {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

/* #endregion splash */

/* #region about_us*/

/* #endregion about_us*/

/* #region content*/

#main_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 180px;
}

article.card {
  display: grid;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 368/480;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

article.card img {
  height: 100%;
  background-size: cover;
}

article.card > * {
  grid-area: 1/1;
}

article h4 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  width: 100%;
  height: 4rem;
  place-self: end center;
  transition: padding 0.5s, height 0.5s;
}

article.card:hover h4.name {
  padding: 60% 0.5rem;
  height: 100%;
}

/* #endregion content*/

/* #region contact_us*/
/* #endregion contact_us*/

/* #region footer */

footer {
  background-color: #59363f;
  /*text-align: center;*/
}
footer p {
  color: white;
  width: 100%;
  /*height: 100px;*/
}
footer h4 {
  font-size: 1.5rem;
}
footer #grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#sociale_medier {
  grid-column: 1;
  grid-row: 2/3;
  line-height: 2;
}
.ikoner {
  display: flex;
  place-content: center;
  gap: 10px;
}
#kontakt_info {
  grid-column: 1;
  grid-row: 3/4;
  line-height: 2;
}
@media (min-width: 600px) {
  footer #grid_container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  footer {
    width: 100%;
    height: 200px;
  }
  .ikoner {
    place-content: start;
  }
}

/* #endregion footer */
